<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="KillAPI Connect Plus" Language="1033" Version="0.1.2.0" Manufacturer="Poekhavshiy" UpgradeCode="48316450-3311-4d1d-9829-f60d7ce81d8a">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" 
         Description="Installs KillAPI Connect Plus - Star Citizen In-game Kill Analysis Frontend"
         Comments="Copyright © 2025 Poekhavshiy"
         Manufacturer="Poekhavshiy Software"
         Keywords="KillAPI,Connect,Network,API,Analysis"
         Manufacturer="Poekhavshiy Software" />

      <Property Id="ARPHELPLINK" Value="https://discord.gg/aKGc47Fz55" />
      <Property Id="ARPURLINFOABOUT" Value="https://discord.com/discovery/applications/1330870778891206707" />
      <Property Id="ARPCONTACT" Value="hroter.ua@gmail.com" />
      <Property Id="ARPCOMMENTS" Value="Star Citizen In-game Kill Analysis Frontend" />
    
    <!-- Add this MajorUpgrade element -->
    <MajorUpgrade 
      DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."
      Schedule="afterInstallInitialize" />
    
    <Icon Id="KillApiIcon" SourceFile="icons/KillApiConnect.ico" />
    <Property Id="ARPPRODUCTICON" Value="KillApiIcon" />
    <Media Id="1" Cabinet="KillApiConnectPlus.cab" EmbedCab="yes" />
    <!-- Define the installation directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="KillAPI Connect Plus">
          <!-- Main executable in root folder -->
          <Component Id="MainExecutable" Guid="fcabd7ee-ad02-42ce-9d19-4ea533c0158e">
            <File Id="KillApiConnectExe" Source="bin/KillApiConnect.exe" KeyPath="yes" />
            <File Id="Readme" Source="README.txt" />
          </Component>
          
          <!-- Root DLLs -->
          <Component Id="DllsComponent" Guid="9d5aeabf-3ec3-4fda-ab4a-87304a178571">
            <!-- All your DLLs in the root directory -->
            <File Id="D3Dcompiler_47Dll" Source="bin/D3Dcompiler_47.dll" />
            <File Id="Qt6CoreDll" Source="bin/Qt6Core.dll" />
            <File Id="Qt6GuiDll" Source="bin/Qt6Gui.dll" />
            <File Id="Qt6MultimediaDll" Source="bin/Qt6Multimedia.dll" />
            <File Id="Qt6NetworkDll" Source="bin/Qt6Network.dll" />
            <File Id="Qt6SvgDll" Source="bin/Qt6Svg.dll" />
            <File Id="Qt6WidgetsDll" Source="bin/Qt6Widgets.dll" />
            <File Id="LibbrotlicommonDll" Source="bin/libbrotlicommon.dll" />
            <File Id="LibbrotlidecDll" Source="bin/libbrotlidec.dll" />
            <File Id="Libcrypto3x64Dll" Source="bin/libcrypto-3-x64.dll" />
            <File Id="Libssl3x64Dll" Source="bin/libssl-3-x64.dll" />
            <File Id="Libbz21Dll" Source="bin/libbz2-1.dll" />
            <File Id="Libfreetype6Dll" Source="bin/libfreetype-6.dll" />
            <File Id="Libglib20Dll" Source="bin/libglib-2.0-0.dll" />
            <File Id="Libgraphite2Dll" Source="bin/libgraphite2.dll" />
            <File Id="Libharfbuzz0Dll" Source="bin/libharfbuzz-0.dll" />
            <File Id="Libiconv2Dll" Source="bin/libiconv-2.dll" />
            <File Id="Libintl8Dll" Source="bin/libintl-8.dll" />
            <File Id="Libpcre28Dll" Source="bin/libpcre2-8-0.dll" />
            <File Id="Libpng1616Dll" Source="bin/libpng16-16.dll" />
            <File Id="Libstdc6Dll" Source="bin/libstdc++-6.dll" />
            <File Id="Libwinpthread1Dll" Source="bin/libwinpthread-1.dll" />
            <File Id="LibzstdDll" Source="bin/libzstd.dll" />
            <File Id="Zlib1Dll" Source="bin/zlib1.dll" />
            <File Id="Libgcc_s_seh_1Dll" Source="bin/libgcc_s_seh-1.dll" />
          </Component>

          <!-- Iconengines directory -->
          <Directory Id="IconEnginesDir" Name="iconengines">
            <Component Id="IconEnginesComponent" Guid="d7e24d03-9096-4043-a97c-e9126dddb86c">
              <File Id="QsvgiconDll" Source="bin/iconengines/qsvgicon.dll" />
            </Component>
          </Directory>

          <!-- Imageformats directory -->
          <Directory Id="ImageFormatsDir" Name="imageformats">
            <Component Id="ImageFormatsComponent" Guid="5a78e14a-5d4b-4c1c-9b2a-efa54d3fd5f2">
              <File Id="QgifDll" Source="bin/imageformats/qgif.dll" />
              <File Id="QjpegDll" Source="bin/imageformats/qjpeg.dll" />
              <File Id="QwebpDll" Source="bin/imageformats/qwebp.dll" />
              <File Id="QicnsDll" Source="bin/imageformats/qicns.dll" />
              <File Id="QicoDll" Source="bin/imageformats/qico.dll" />
              <File Id="QsvgDll" Source="bin/imageformats/qsvg.dll" />
              <File Id="QtgaDll" Source="bin/imageformats/qtga.dll" />
              <File Id="QtiffDll" Source="bin/imageformats/qtiff.dll" />
              <File Id="QwbmpDll" Source="bin/imageformats/qwbmp.dll" />
            </Component>
          </Directory>

          <!-- Platforms directory -->
          <Directory Id="PlatformsDir" Name="platforms">
            <Component Id="PluginsComponent" Guid="48316450-3311-4d1d-9829-f60d7ce81d8a">
              <File Id="QwindowsDll" Source="bin/platforms/qwindows.dll" />
            </Component>
          </Directory>

          <!-- Styles directory -->
          <Directory Id="StylesDir" Name="styles">
            <Component Id="StylesPluginsComponent" Guid="9e4f3b6a-5c8d-4a2e-b1d7-73f6e4c8a5b9">
              <File Id="QmodernwindowsstyleDll" Source="bin/styles/qmodernwindowsstyle.dll" />
            </Component>
          </Directory>

          <!-- Sounds directory -->
          <Directory Id="SoundsDir" Name="sounds">
            <Component Id="SoundsComponent" Guid="d65005f0-5086-4eed-9d24-763e22090242">
              <File Id="WompWompMp3" Source="bin/sounds/womp-womp.mp3" />
            </Component>
          </Directory>

          <!-- Generic directory -->
          <Directory Id="GenericDir" Name="generic">
            <Component Id="GenericPlugins" Guid="e31d9c7a-c0bd-4b31-bb8d-b8d0e5f8c85a">
              <File Id="QtuiotouchpluginDll" Source="bin/generic/qtuiotouchplugin.dll" />
            </Component>
          </Directory>

          <!-- Multimedia directory -->
          <Directory Id="MultimediaDir" Name="multimedia">
            <Component Id="MultimediaPlugins" Guid="f6c5a3e2-e4d8-4fea-9b6b-f9c8ae7db6c3">
              <File Id="WindowsmediapluginDll" Source="bin/multimedia/windowsmediaplugin.dll" />
            </Component>
          </Directory>

          <!-- Network Information directory -->
          <Directory Id="NetworkInfoDir" Name="networkinformation">
            <Component Id="NetworkInfoPlugins" Guid="c7d01a5a-87e3-4c2a-a5b9-8a1e3f1a7d4f">
              <File Id="QnetworklistmanagerDll" Source="bin/networkinformation/qnetworklistmanager.dll" />
            </Component>
          </Directory>

          <!-- TLS directory -->
          <Directory Id="TlsDir" Name="tls">
            <Component Id="TlsPlugins" Guid="d8e25f6a-1c7c-45a0-b7e3-8e29a5d6f8b7">
              <File Id="QcertonlybackendDll" Source="bin/tls/qcertonlybackend.dll" />
              <File Id="QopensslbackendDll" Source="bin/tls/qopensslbackend.dll" />
              <File Id="QschannelbackendDll" Source="bin/tls/qschannelbackend.dll" />
            </Component>
          </Directory>

          <!-- Data directory -->
          <Directory Id="DataDir" Name="data">
            <Component Id="DataFiles" Guid="6b7c9e8a-2d1f-4b8a-a5e7-9c6d8f5a2e3b">
              <File Id="LogfileRegexRules" Source="bin/data/logfile_regex_rules.json" />
            </Component>
          </Directory>

          <!-- Logs directory -->
          <Directory Id="LogsDir" Name="logs">
            <Component Id="LogsDirectory" Guid="7e8d9c6a-5b4f-4e3d-a2c1-9f8b7e6d5c4a">
              <CreateFolder Directory="LogsDir" />
              <File Id="LogsAppLog" Source="bin/logs/app.log" />
            </Component>
          </Directory>

          <!-- Libs directory -->
          <Directory Id="LibsDir" Name="libs">
            <Directory Id="LibsDataDir" Name="data">
              <Component Id="LibsFiles" Guid="5c4a3e2d-1b7f-4e6d-9a8c-7b6e5d4f3a2c">
                <File Id="LibsDataRegexRules" Source="bin/libs/data/logfile_regex_rules.json" />
              </Component>
            </Directory>
            <Directory Id="LibsSoundsDir" Name="sounds">
              <Component Id="LibsSoundsFiles" Guid="8d7e6c5a-3b2f-4c1e-a9d8-7f6e5d4c3b2a">
                <File Id="LibsSoundsWompWomp" Source="bin/libs/sounds/womp-womp.mp3" />
              </Component>
            </Directory>
          </Directory>

          <!-- Desktop shortcut (per-user) -->
          <Component Id="DesktopShortcutComponent" Guid="d19e0199-da47-4d93-8141-42a8f98eda21">
            <Condition>INSTALLDESKTOPSHORTCUT</Condition>
            <Shortcut Id="DesktopShortcut"
                      Directory="DesktopFolder"
                      Name="KillAPI Connect Plus"
                      Description="Launch KillAPI Connect Plus"
                      Target="[INSTALLFOLDER]KillApiConnect.exe"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="KillApiIcon" />
            <RegistryValue Root="HKCU" Key="Software\KillAPIConnectPlus" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
          </Component>

          <!-- Start Menu shortcut (per-user) -->
          <Component Id="StartMenuShortcutComponent" Guid="4874c6bd-800e-4d36-88e3-7406eb05f41f">
            <Shortcut Id="StartMenuShortcut"
                      Directory="ProgramMenuFolder"
                      Name="KillAPI Connect Plus"
                      Description="Launch KillAPI Connect Plus"
                      Target="[INSTALLFOLDER]KillApiConnect.exe"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="KillApiIcon" />
            <RegistryValue Root="HKCU" Key="Software\KillAPIConnectPlus" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder" Name="Programs" />
    </Directory>

    <!-- Features -->
    <Feature Id="MainFeature" Title="KillAPI Connect Plus" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="DesktopShortcutComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DllsComponent" />
      <ComponentRef Id="IconEnginesComponent" />
      <ComponentRef Id="ImageFormatsComponent" />
      <ComponentRef Id="PluginsComponent" />
      <ComponentRef Id="StylesPluginsComponent" />
      <ComponentRef Id="SoundsComponent" />
      <ComponentRef Id="GenericPlugins" />
      <ComponentRef Id="MultimediaPlugins" />
      <ComponentRef Id="NetworkInfoPlugins" />
      <ComponentRef Id="TlsPlugins" />
      <ComponentRef Id="DataFiles" />
      <ComponentRef Id="LogsDirectory" />
      <ComponentRef Id="LibsFiles" />
      <ComponentRef Id="LibsSoundsFiles" />
    </Feature>

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch KillAPI Connect Plus when setup exits" />
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- UI -->
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Custom EULA -->
    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />

    <!-- Launch Application Custom Actions -->
    <Property Id="WixShellExecTarget" Value="[#KillApiConnectExe]" />
    <CustomAction Id="LaunchApplication" 
                  BinaryKey="WixCA" 
                  DllEntry="WixShellExec"
                  Impersonate="yes"
                  Execute="immediate" 
                  Return="check" />

    <UI>
      <Publish Dialog="ExitDialog" 
               Control="Finish" 
               Event="DoAction" 
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
  </Product>
</Wix>